* {
    /* 전체 요소에 대해 사이즈를 지정 */
    box-sizing: border-box;
}

/* 여러 요소의 위치를 알맞게 조정해 주기 위해
flex 컨테이너를 생성 - body 태그 자체를 컨테이너로 쓴다 */

body {
    height: 100vh; /* vertical height = viewport 기준으로 높이값을 바꾼다
    1vh = viewport(사용자가 쓰는 기기의 화면 사이즈) height 의 1/100 */
    display: flex;
    /* 아래 두개를 쓰기위해 displae: flex를 사용~ */
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'JeonjuCraftGoR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/JeonjuCraftGoR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.background {
    width: 100%;
    /* ↓최대 사이즈 지정 */
    max-width: 1200px;
    position: absolute;
    /* 이렇게 하면 왼쪽 위에 맞춰짐 */
    top: 0;
    left: 0;
}

.container {
    width: 340px;
    height: 540px;
    /* 모서리 깎기 */
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 1px 2px 10px #333333;
    position: relative;
    /* z-index: 1; */
}

.header {
    /* 요소를 가로로 주루룩 나열하는 코드 */
    display: flex;
    height: 60px;
    padding: 12px 5px 8px;
}

.info-block {
    /* 옆으로 밀기 */
    margin-left: 12px;
    margin-right: 60px;
}

.username {
    margin: 5px 0 3px;
    font-size: 16px;
    font-family: 'JeonjuCraftGoR';
}

.status {
    margin: 1px 0 3px;
    font-size: 12px;
    color: #999999;
    font-family: 'JeonjuCraftGoR';
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.call-box {
    width: 60px;
    display: flex;
    /* 요소 가로 정렬 */
    justify-content: space-between;
    margin-left: 25px;
}

#chat-box {
    height: 400px;
    padding: 12px 10px;
    font-family: 'JeonjuCraftGoR';
    /* 오버플로우: 
    자식요소가 부모요소를 넘어가면 자동으로 스크롤이 생기게 해 주는 코드 */
    overflow: hidden;
}

.bubble {
    /* 행간(문장간) 여백 주기 */
    margin: 4px 0;
    max-width: 300px;
    font-size: 14px;
}

.friend-bubble {
    /* 행간(문장간) 여백 주기 */
    background-color: #f3f0f5;
    /* 순서대로 왼쪽위 오른쪽위 왼쪽아래 오른쪽아래의 둥글기를 지정할 수 있다 */
    border-radius: 14px 14px 14px 0;
    padding: 7px 15px 7px 15px;
    /* margin: 4px 0; */
    float: left;
    clear: both;
    color: #8f00fe;
    max-width: 300px;
    font-size: 14px;
}

.my-bubble {
    background-color: #8f00fe;
    border-radius: 14px 14px 0 14px;
    padding: 7px 15px 7px 15px;
    float: right;
    clear: both;
    color: #fff;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* 채팅상자 아니고 밑 footer의 너비를 100%로 만든 것이다 */
    width: 100%;
    height: 80px;
    padding: 12px;
}

#input {
    width: 85%;
    height: 100%;
    padding: 10px;
    background-color: #e8e8e8;
    border: none;
    border-radius: 10px;
    /* ↓채팅창 사이즈 조절 못하게 하는 코드 */
    resize: none;
}