@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Dokdo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.4/Dokdo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard-Regular';
    letter-spacing: 0.5px;
    word-break: keep-all;
}

.navbar {
    color: white;
    position: fixed;
    /* 위치 정해주기 */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: transparent;
}

.navbar-hr {
    border-top: 2px solid #fff;
    padding-top: 10px;
    z-index: 2;
}

.navbar {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.2);
}

.logo, .login-signup, .menu-lists {
    cursor: pointer;
}

.menu-lists {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.menu-list {
    padding: 25px;
}

.backgr {
    opacity: 100%;
    filter: brightness(80%) saturate(85%);
    position: relative;
    overflow: hidden;
}

.imgs {
    object-fit: cover;
    height: 100vh;
    /* border-radius: 0 0 190px 0; */
}

.carousel-inner {
    border-radius: 0 0 190px 0;
}

.main {
    display: inline-block;
    position: absolute;
    color: white;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.subtitle {
    display: inline-block;
    margin-top: 20px;
    font-weight: 80;
}

.main2 {
    margin-bottom: 60px;
}


.btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainbtn {
    display: flex;
    justify-content: center;
    max-width: max-content;
    border: 3px solid white;
    padding: 20px;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    position: relative;
    font-size: 15px;
    cursor: pointer;
}

.btn-arrow-img {
    width: 12px;
    height: 12px;
    margin-top: 5px;
    margin-left: 5px;
}

/* 두번째 레이아웃 */

.layout-2st {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin: 65px 10px;
    margin-bottom: 100px;
}

.shortcut-title, .view-info-title {
    font-weight: 800;
    font-size: 30px;
    box-sizing: border-box;
}

/* 바로가기 */
/* 바로알기 제목 */
.view-info-title {
    margin-bottom: 20px;
}

.shortcut-title {
    margin-bottom: 20px;
}

.short-desc {
    color: #727272;
}

/* 2번째 레이아웃의 컨텐츠 박스, 
바로알기/관람안내 */
.shortcut, .view-info {
    width: 650px;
    height: 400px;
    border-radius: 30px;
    padding: 70px;
}

/* 독도 바로알기 */
.shortcut {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

/* 독도 물개그림 */
.shortcut-img {
    right: 0;
    position: absolute;
    margin-top: 3px;
    border-radius: 0 0 30px 0;
}

.shortbtn {
    display: flex;
    justify-content: center;
    width: 140px;
    border: 2px solid teal;
    margin-top: 50px;
    padding: 10px;
    border-radius: 30px;
    background-color: transparent;
    color: teal;
    position: absolute;
    font-size: 15px;
    cursor: pointer;
}

/* .shortbtn-img > svg {
    color: teal;
} */

/* 전화번호 */
.info-call-box {
    margin-bottom: 40px;
    border-bottom: 1px dashed #a8a8a8;
}

.call {
    margin-top: 15px;
}

#call {
    font-weight: 1000;
    font-size: 25px;
    letter-spacing: -2;
}

.info-1-5 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

/* 관람 관련 정보 */

.info-2-view > li {
    position: relative;
    /* padding-left: 10%; */
    word-break: keep-all;
    text-align: left;
    display: flex;
    align-items: flex-start;
    gap: 3rem;
}

.info-2-view > li span {
    display: block;
    letter-spacing: -0.02rem;
    color: #999;
}

.speaker-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: #f5f5f8;
}

.speaker-1 {
    width: 30px;
    height: 30px;
}

.view {
    margin-top: 14px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: #727272;
    color: white;
    padding: 0 27px;
    font-size: 14px;
}

/* 관람 관련 정보 */

.bold {
    font-weight: 700;
}

/* 레이아웃 3번째 */


.layout-3rd {
    width: 100%;
    /* height: 600px; */
    /* background-color: #e0e0e0; */
    display: flex;
    margin-bottom: 10rem;
}
/* 공지사항 */
.notice-left {
    width: 25%;
    margin: 1rem 10%;
    padding: 0% 10% 0 0;
    background-color: #858585;
}

.notice-title {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}

.swiper-wrapper {
    display: flex;
}

.swiper {
    gap: 20px;
}

.swipers {
    display: flex;
    flex-direction: column;
}

.swiper-slide {
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

a.swipers {
    text-decoration: none;
}

.notice-button {
    max-width: fit-content;
    background-color: #fff;
    border-radius: 40%;
    padding: 0 10px 0;
}


/* 4번째 레이아웃 */
/* 체험존안내 영상관안내 */
.layout-4th {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    position: relative;
}

.guide {
    max-width: 1200px;
    width: 80%;
    height: 200px;
    background-color: #09847f;
    padding: 1rem;
    border-radius: 4.5rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    gap: 80px;
    position: absolute;
    top: -100px;
    box-shadow: rgba(20, 22, 22, 1);
}

.guide-1, .guide-2 {
    display: flex;
    align-items: center;
    gap: 24px;
}

.guide-2 {
    padding-left: 5rem;
    border-left: 1.5px solid rgba(255, 255, 255, 0.2)
}

.guide-left, .guide-right {
    padding: 0;
}

.experience, .map {
    width: 80px;
}

.guide-1 > p {
    margin: 0;
}

/* 다섯번째 구역 */

.page-end {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 200px;
    text-align: center;
    /* background-color: #393846; */
    background: linear-gradient(to bottom, rgba(57, 56, 70, 0.8)20%);
    color: #848388;
}

/* #footer .dokdo-area img {
    height: 3rem;
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
} */

#dokdo-logo {
    margin-top: 200px;
    margin-left: 400px;
    position: absolute;
    overflow: clip;
    width: 10%;
}

#footer-background {
    max-width: 100%;
    height: 100vh;
    border-radius: 200px 0 0 0;
}