@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Dokdo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.4/Dokdo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard-Regular';
    letter-spacing: 0.5px;
    word-break: keep-all;
}

.navbar {
    color: white;
    position: fixed;
    /* 위치 정해주기 */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: transparent;
}

.navbar-hr {
    border-top: 2px solid #fff;
    padding-top: 10px;
    z-index: 2;
}

.navbar {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.2);
}

.logo, .login-signup, .menu-lists {
    cursor: pointer;
}

.menu-lists {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.menu-list {
    padding: 25px;
}

.backgr {
    opacity: 100%;
    filter: brightness(80%) saturate(85%);
    position: relative;
}

.imgs {
    border-radius: 0 0 190px 0;
    height: 953px;
}

.main {
    display: inline-block;
    position: absolute;
    color: white;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.subtitle {
    display: inline-block;
    margin-top: 20px;
    font-weight: 80;
}

.main2 {
    margin-bottom: 60px;
}

/* .carousel-inner {
    position: relative;
} */

.btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 30%; */
}

.mainbtn {
    display: flex;
    justify-content: center;
    max-width: max-content;
    border: 3px solid white;
    padding: 20px;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    position: relative;
    font-size: 15px;
    cursor: pointer;
}

.btnimg {
    width: 12px;
    height: 12px;
    margin-top: 5px;
    margin-left: 5px;
}