* {
    box-sizing: border-box;
}

html {
    font-family: Pretendard;
    word-break: keep-all;
    font-size: 16px;
}

body {
    background-color: #000;
    color: #d9d9d9;
    margin: 0;
}

.sidebar {
    padding: 16px;
    background-color: #161519;
    color: #8c8993;
    /* 기준이 되는 너비 */
    width: 240px;
    /* height: 100%; */
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
}

.menu-items {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 48px;
    /* 전체 마진을 0으로 만든 다음 48px만큼 새로 주기 */
}

.menu-item {
    padding: 8px 24px;
    display: flex;
    /* 수직 정렬 */
    align-items: center;
    gap: 8px;
}

.menu-item:hover {
    cursor: pointer;
}

.menu-item.selected {
    background-color: rgba(205, 187, 255, 0.1);
    color: white;
}

/* 메인 스타일 시작 */

section {
    max-width: 1120px;
    width: 100%;
    margin: 80px auto;
    padding: 0 36px;
}

.featured {
    display: flex;
    gap: 40px;
}

.featured-thumb {
    border-radius: 24px;
}

.featured-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.featured-title {
    font-weight: 700;
    font-size: 40px;
    color: #d9d9d9;
    margin: 0;
}

.featured-description {
    margin: 0;
    color: #868686;
}

/* 뮤직 매거진 파트 */
.featured-tag {
    background-color: #18181b;
    border-radius: 16px;
    padding: 8px 16px;
    font-weight: 500;
    font-size: 20px;
    color: #565662;
    /* 컨텐츠 너비에 맞춰 자동 조정하는 메소드 */
    width: fit-content;
}

.playlists {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.playlist {
    flex-basis: 22%;
}

/* 플리 썸네일 */
.playlist-thumb {
    width: 100%;
    border-radius: 16px;
}

.playlist-title {
    font-weight: 700;
    font-size: 24px;
    margin: 16px 0 8px;
}

.playlist-artist {
    color: #868686;
    margin: 0;
}

.section-title {
    font-weight: 700;
    font-size: 32px;
    margin: 40px 0;
}

/* 3번째 페이지 */

.artists {
    display: flex;
    gap: 32px;
}

.artist {
    /* width: 120px; */
    text-align: center;
    /* 원 만들기 */
    border-radius: 50%;
}

.artist-profile {
    width: 100%;
}

.artist-name {
    font-weight: 500;
    font-size: 24px;
    margin: 24px 0 0;
}

.stations {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    /* width: 100%; */
}

.station {
    width: 100%;
    border-radius: 16px;
}

.charts-header {
    display: flex;
    justify-content: space-between;
    /* 수직정렬도 맞춰주지 않으면 앵커태그는 맨 위로 붙어서 정렬이 이상해진다! */
    align-items: center;
    margin: 32px 0;
}

.charts-title {
    margin: 0;
}

.charts-see-all {
    font-weight: 500;
    font-size: 24px;
    color: #d9d9d9;
    text-decoration: none;
}

.charts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 32px;
}

.chart {
    display: flex;
    /* 세로 정렬 */
    align-items: center;
    gap: 30px;
}

.chart-cover {
    border-radius: 16px;
    /* 파일 크기가 크면 이렇게 크기 지정을 해주어야 한다 */
    /* width: 160px;
    height: 160px; */
}

.chart-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.chart-rank {
    display: flex;
    align-items: center;
    gap: 8px;
}

.chart-number {
    background-color: #1a1a1a;
    border-radius: 50%;
    font-weight: 700;
    font-size: 24px;
    width: 40px;
    height: 40px;
    /* 중앙 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-change {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.2);
}

.chart-change.up {
    color: #d93045;
}

.chart-title {
    font-size: 32px;
    font-weight: 700;
}

.chart-artist {
    font-weight: 500;
    font-size: 24px;
    color: #868686;
}